@font-face {
    font-family: HankGrotesk;
    src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HankGrotesk;
    font-weight: 500;
}
.attribution {
    position: absolute;
    bottom: 2px;
    left: 2px;
}
#contener {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#section_right, #section_left {
    height: 450px;
    width: 325px;
    padding: 15px;
    opacity: 1;
}
#section_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 40px;
    z-index: 10
}
#circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 75%;
    padding: 40px;
}
#section_middle {
    height: 450px;
    width: 50px;
    position: absolute;
    left: 44%;
    background: hsl(0, 0%, 100%);
    z-index: 9;
}
#section_right {
    display: flex;
    flex-direction: column;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
#wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#summary_elements {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.summary_element {
    position: relative;
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    z-index: 1;
}
.summary_element::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.15;
    width: 100%;
    height: 50px;
    border-radius: 10px;
}
.score {
    position: absolute;
    font-weight: 800;
    right: 15px;
    color: hsl(224, 30%, 27%);
}
.max_points {
    color: hsl(240, 21%, 63%);
    font-weight: 800;
}
.summary_element:nth-child(1)::before {
    background-color: hsl(0, 100%, 67%);
}
.summary_element:nth-child(2)::before {
    background-color: hsl(39, 100%, 56%);
}
.summary_element:nth-child(3)::before {
    background-color: hsl(166, 100%, 37%);
}
.summary_element:nth-child(4)::before {
    background-color: hsl(234, 85%, 45%);
}
#continueBtn {
    background: hsl(224, 30%, 27%);
    color: white;
    width: 95%;
    height: 50px;
    border-radius: 50px;
    border: none;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
#continueBtn:hover {
    cursor: pointer;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
@media only screen and (max-width: 650px) {
    #contener {
        flex-direction: column;
    }
    #section_left, #section_right {
        border-radius: none;
    }
}